.elementor-32 .elementor-element.elementor-element-608d9f2 .knsl-center {
    text-align: center
}

.elementor-32 .elementor-element.elementor-element-bcacc7c {
    padding: 0
}

.elementor-32 .elementor-element.elementor-element-04e9af5 .knsl-card-description {
    text-align: center
}

.elementor-32 .elementor-element.elementor-element-04e9af5>.elementor-widget-container {
    padding: 0
}